{% extends "base.njk" %}
{% block title %}Search Users - Opencaching.de{% endblock %}
{% block data_page %}searchusers{% endblock %}
{% block page_content %}
<div class="container mt-4">
    <h2>Search Users</h2>
    <div class="row mb-3">
        <div class="col-md-4">
            <input type="text" id="userSearch" class="form-control" placeholder="Username">
        </div>
        <div class="col-md-2">
            <button id="searchBtn" class="btn btn-primary">Search</button>
        </div>
    </div>
    <div id="resultsTable"></div>
</div>
<link rel="stylesheet" href="/vendor/tabulator/tabulator.min.css">
<link rel="stylesheet" href="/css/tabulator_oc.css">
{% endblock %}
