{% extends "base.njk" %}
{% block title %}Livemap - Opencaching.de{% endblock %}
{% block data_page %}livemap{% endblock %}
{% block data_map_js %}true{% endblock %}
{% block page_content %}
<div id="map" style="width:100%; height:calc(100vh - 56px);"></div>
{% endblock %}
