{% extends "base.njk" %}
{% block title %}Livemap - Opencaching.de{% endblock %}
{% block data_page %}livemap{% endblock %}
{% block data_map_js %}true{% endblock %}
{% block body_start %}{% endblock %}
{% block after_body_start %}
<script>
    window.uniCacheWP = [];
    (function() {
        var p = new URLSearchParams(location.search);
        window.lat         = p.has('lat')  ? parseFloat(p.get('lat'))  : 52.376;
        window.lon         = p.has('lon')  ? parseFloat(p.get('lon'))  : 9.732;
        window.defaultZoom = p.has('zoom') ? parseInt(p.get('zoom'))   : 13;
    })();
</script>
{% endblock %}
{% block page_content %}
<div id="mapRoot"></div>
{% endblock %}
